{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="SHORTCUT ICON" HREF="owm.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css ' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet-openweathermap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'files/map.css' %}" />
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <script src="{% static 'leaflet/Permalink.js' %}"></script>
    <script src="{% static 'leaflet/Permalink.Layer.js' %}"></script>
    <script src="{% static 'leaflet/Permalink.Overlay.js' %}"></script>
    <script src="{% static 'leaflet/leaflet-openweathermap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet-languageselector.css' %}" />
    <script src="{% static 'leaflet/leaflet-languageselector.js' %}"></script>
    <script src="{% static 'files/map_i18n.js' %}"></script>
    <script src="{% static 'files/map.js' %}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>The Weather - App Landing Page</title> 

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>


<style>#map {
	height: 50%;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    
	border: 3px solid #131212;
    
	
	
}  
#cssTable td 
    {
        text-align: center; 
        vertical-align: middle;
    }
    
    
    
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 100%;
  }
  
  td, th {
    border: 0px solid rgb(83, 80, 80);
    text-align: center;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color:rgb(29, 28, 28);
    text-decoration-color: white;
    -webkit-text-fill-color: white;
  }
    
  
  .button {
  background-color:rgb(84, 84, 175);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.button5 {border-radius: 12px;}

  
    
    </style>












<body>

        <div class="site-content">
                <div class="site-header">
                    <div class="container">
                        <a href="{% url 'home' %}" class="branding">
                            <img src="{% static 'img/logo.png' %}" alt="" class="logo">
                            <div class="logo-type">
                                <h1 class="site-title">Weather spot</h1>
                                <small class="site-description">one click away</small>
                            </div>
                        </a>
    
                        <!-- Default snippet for navigation -->
                        <div class="main-navigation">
                            <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                            <ul class="menu">
                                <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="menu-item"><a href="#Temperature">Temperature</a></li>
                                <li class="menu-item"><a href="#features">Earthquake</a></li>
                                <li class="menu-item"><a href="#contact">Contact</a></li>
                                <li class="menu-item"><a href="http://127.0.0.1:8000/admin">admin login</a>
                            </ul> <!-- .menu -->
                        </div> <!-- .main-navigation -->
    
                        <div class="mobile-navigation"></div>
    
                    </div>
                </div> <!-- .site-header -->
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="http://127.0.0.1:8000/admin">Admin Login</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Preloader Start -->
    
             
    <!-- ***** Header Area End ***** -->











    <!-- ***** Wellcome Area Start ***** -->
<section class="wellcome_area clearfix" id="home">
<div class="hero" >
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                      
                        <marquee behavior="scroll" direction="left"><h1 ><font color="black">Climate</h1></marquee>
                       <h2> 
                        <p align="justify" ><font color="green">Climate is the statistics of weather over long periods of time.It is measured by assessing the patterns of variation in temperature, humidity, atmospheric pressure, wind, precipitation, atmospheric particle count and other meteorological variables in a given region over long periods of time. Climate differs from weather, in that weather only describes the short-term conditions of these variables in a given region. </font></p>
                    </h2>
                    </div>
                   
                </div>
            </div>
            
        </div>

      <!-- Welcome thumb -->

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

        <div id="map"></div>
            <script>
                initMap();		
            </script> 
</div>
</section>
    <!-- ***** Wellcome Area End ***** -->





<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="Temperature" data-bg-color="black">
    <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                            <br> <br>
                        <h2>Temperature Change</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div>
                <h1 align="center"><font color="green">Why temperature is changing?</font></h1><br>
            <hr color="blue"><br>
            <dl>
                
            {% for coz in qs1 %}
                <br>
            <h2  align="justify"><font color="green" style="text-align:justify;">{{ coz.heading }}</font></h2></dt>
            <br>
            <dd>
            <h4  align="justify">{{ coz.discription }} 
            </h4>
            </dd>
            <br>
            {% endfor %}
            </dl>
            <br><br>
            <div align="center"><h1><font  color="red">Change In World Temperature</font></h1></div>
            <br>
            <img src="{% static 'img/Earth-img/temp.jpg' %}" width="100%" height="400">
            <br><br>
        <hr color="blue"><br>
        </div>
    </section>









   












    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features" data-bg-color="black">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                            <br> <br>
                        <h2>Earth Quake</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div>
                <h2 align="center"><font color="green">Why Do Earthquakes Happen?</font></h2><br><hr color="blue">
<table>
                                    <tr>
                                        <td width="30%"><img src="{% static 'img/Earth-img/earth.jpg' %}" width="300" height="400"></td>
                                        <td>
                                    <h4>
                                      <p align="justify">  

                                        Earthquakes are usually caused when rock underground suddenly breaks along a fault. This sudden release of energy causes the seismic waves that make the ground shake. When two blocks of rock or two plates are rubbing against each other, they stick a little. They don't just slide smoothly; the rocks catch on each other. The rocks are still pushing against each other, but not moving. After a while, the rocks break because of all the pressure that's built up. When the rocks break, the earthquake occurs. During the earthquake and afterward, the plates or blocks of rock start moving, and they continue to move until they get stuck again. The spot underground where the rock breaks is called the focus of the earthquake. The place right above the focus (on top of the ground) is called the epicenter of the earthquake.
                                        
                                        Try this little experiment:
                                        
                                            
                                        Break a block of foam rubber in half.
                                        Put the pieces on a smooth table.
                                        Put the rough edges of the foam rubber pieces together.
                                        While pushing the two pieces together lightly, push one piece away from you along the table top while pulling the other piece toward you. See how they stick?
                                        Keep pushing and pulling smoothly.
                                        
                                        Soon a little bit of foam rubber along the crack (the fault) will break and the two pieces will suddenly slip past each other. That sudden breaking of the foam rubber is the earthquake. That's just what happens along a strike-slip fault.
                                        Earthquake-like seismic waves can also be caused by explosions underground. These explosions may be set off to break rock while making tunnels for roads, railroads, subways, or mines. These explosions, however, don't cause very strong seismic waves. You may not even feel them. Sometimes seismic waves occur when the roof or walls of a mine collapse. These can sometimes be felt by people near the mine. The largest underground explosions, from tests of nuclear warheads (bombs), can create seismic waves very much like large earthquakes. This fact has been exploited as a means to enforce the global nuclear test ban, because no nuclear warhead can be detonated on earth without producing such seismic waves.
                                    </p>
                                    </h4>
                                    </td>
                                </tr>
            </table>
            <hr color="blue"><br>
            <h1 align="center" ><font color="green"size="15" >Three Types of Stress on the Earth's Crust</font></h1>
            <br><br>
            <dl><br>
            <dt><h2><font color="green">Compression: When Plates Collide</font></h2></dt>
            <br>
            <dd><h4  align="justify">When plates press against each other, one plate's edge is pressed downward by the compression as the other plate's edge rides over it. These subduction zones appear as deep ocean trenches, usually facing mountains -- the protruding edge of the overriding plate. In many places, such as the Pacific Ocean's "Ring of Fire," the material of the sinking crust interacts with the hot mantle below, causing lines of volcanoes such as those found in the Aleutian Islands, the Andes, and the Cascade Range of the western United States.</dd> 
            </h4><br>
            <dt><h2><font color="green">Tension: When Plates Pull Apart</font></h2></dt> 
            <br>
            <dd><h4  align="justify">Crustal plates pulling apart from each other, or fracturing, under tension can develop rift valleys as seen in East Africa. Crust fills the developing gaps in the form of basalt, which can flood the surface to form a basaltic sill. In the mid-oceanic ridges in the Atlantic and Pacific oceans, molten basalt released under the water hardens into pillow-like blobs, creating new oceanic crust. the newest crust is closest to the ridges. Hydrothermal vents release hot, mineral-laden water, which resembles black smoke.</dd> 
            </h4><br>
            <dt><h2><font color="green">Shear: When Plates Grind Along Each Other</font></h2></dt>
            <br>
            <dd><h4  align="justify">In some cases, the edges of the plates slide past each other, neither significantly pressing together, nor pulling apart. Here the movement causes a lateral shear. Where movement causes horizontal displacement, it is called a "strike-slip" fault. The San Andreas Fault, where the Pacific Plate has been sliding northwestward past the North American Plate, provides a good example. The movement isn't smooth; the plates build up stress which eventually releases in a sudden movement, causing earthquakes like the 1906 San Fransisco event.</dd>    
            </h4>
            </dl>



                        <hr color="green"><br>

                        <br><br><br>
                        <div class="container">
                                <h2><font size="6" color="green">Major Earthquakes</font></h2>
                                 <p>An earthquake is a sudden shaking movement of the surface of the earth. It is known as a quake, tremblor or tremor. Earthquakes can range in size from those that are so weak that they cannot be felt to those violent enough to toss people around and destroy whole cities. The seismicity or seismic activity of an area refers to the frequency, type and size of earthquakes experienced over a period of time.</p>
                                 <br><br>
                                 <div class="row">
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      
                                        <img src="{% static 'img/Earth-img/gujrat2.jpg' %}" alt="Lights" style="width:100%">
                                        <div class="caption">
                                          <p>The 2001 Gujarat earthquake,occurred on 26 January, India's 52nd Republic Day, at 08:46 AM </p>
                                        </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      
                                        <img src="{% static 'img/Earth-img/nepal1.jpg' %}" alt="Nature" style="width:100%">
                                        <div class="caption">
                                          <p>The April 2015 Nepal earthquake (also known as the Gorkha earthquake)[5][8] killed nearly 9,000 people and injured nearly 22,000</p>
                                        </div>
                                      
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="thumbnail">
                                      
                                        <img src="{% static 'img/Earth-img/japan.jpg' %}" alt="Fjords" style="width:100%">
                                        <div class="caption">
                                          <p>The 2011 earthquake off the Pacific coast of Tōhoku was a magnitude 9.0–9.1 (Mw) occurred at 14:46 JST on Friday 11 March 2011</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
        
        
        
        
                                <div class="row">
                                        <div class="col-md-4">
                                          <div class="thumbnail">
                                            
                                              <img src="{% static 'img/Earth-img/china.jpg' %}" alt="Lights" style="width:100%">
                                              <div class="caption">
                                                <p>The 2008 Sichuan earthquake, Wenchuan earthquake, occurred at 14:28:01 China Standard Time on May 12, 2008. </p>
                                              </div>
                                            
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="thumbnail">
                                            
                                              <img src="{% static 'img/Earth-img/pak.jpg' %}" alt="Nature" style="width:100%">
                                              <div class="caption">
                                                <p>The 2008 Ziarat earthquake hit the Pakistani province of Balochistan on October 29 with a moment magnitude of 6.4.</p>
                                              </div>
                                            
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                          <div class="thumbnail">
                                            
                                              <img src="{% static 'img/Earth-img/indona.jpg' %}" alt="Fjords" style="width:100%">
                                              <div class="caption">
                                                <p>On 28 September 2018, a shallow, Indonesia, with its epicentre located in the mountainous Donggala Regency, Central Sulawesi</p>
                                              </div>
                                          </div>
                                        </div>
                                      </div>
                           </div>
        
                        <div class="container"><br><br>
                            <h1 align="center"><font color="green" size="6">Major Earthquakes Around The World</font></h1><br>
                            <br>
                            <div class="panel-group">
                              
                          
                              <div class="forecast-table">
                                <div class="forecast-header"><h3><font  color="white">Data From 2000</font></h3></div>
                                


                                 <table width="100%" border="1">
                                   <tr align="center" >
                                      <th><h2><font color="green">Date</font></h2></th>
                                      <th><h2><font color="green">Location</font></h2></th>
                                      <th><h2><font color="green">Coordinates</font></h2></th>
                                      <th><h2><font color="green">Deaths</font></h2></th>
                                      <th><h2><font color="green">Magnitude</font></h2></th>
                                        </tr>
                                    {% for w in qs2 %}
                                    <tr align="center">
                                      <td><h3>{{ w.date }}</h3></td>
                                      <td><h3>{{ w.location }}</h3></td>
                                      <td><h3>{{ w.coordinates }}</h3></td>
                                      <td><h3>{{ w.deaths }}</h3></td>
                                      <td><h3>{{ w.magnitude }}</h3></td>
                                    </tr>
                                  {% endfor %}
                             </table>
                               
                            </div>
                          </div>
                      </div>
                      <br><br>

    </section>

    <!-- ***** Awesome Features End ***** -->
    <div class="fullwidth-block" data-bg-color=" #131212">
            <div class="container">
                
                    <h1 align= "center">Contact Us</h1>
           
            </div>
        </div>

    <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                       
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        
                    </div>
                </div>

                
                <!-- ***** Contact Us Area Start ***** -->
<section class="footer-contact-area section_padding_100 clearfix" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Heading Text  -->
                <div class="section-heading">
                    <h2>Get in touch with us!</h2>
                    <div class="line-shape"></div>
                </div>
                <div class="footer-text">
                    </div>
                <div class="address-text">
                    <p><span>Address:</span>Kabir Nagar, jalandhar,punjab 144001</p>
                </div>
                <div class="phone-text">
                    <p><span>Phone:</span> #</p>
                </div>
                <div class="email-text">
                    <p><span>Email:</span> #@gmail.com</p>
                </div>
                <div class="address-text">
                        <p><span>FeedBack:</span>Give Us Your Important FeadBack</p>
                    </div>
                    
                    <a href="{% url 'FeedBack' %}">
                        <h2><button class="button button5"><font color="white">Feedback</font></button></h2>
                    </a>
                    <br>
						<br>
						<h2>Quick links!</h2>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="menu-item"><a href="#Temperature">Temperature</a></li>
                        <li class="menu-item"><a href="#features">Earthquake</a></li>
                        <li class="menu-item"><a href="#contact">Contact</a></li>
                        <li class="menu-item"><a href="http://127.0.0.1:8000/admin">admin login</a>
                    </ul> 
                 </div>


        <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3408.271355517069!2d75.58644721462588!3d31.323878263953368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a5a44fe0ad8e7%3A0xd5d2574fbe41e548!2sGuru+Nanak+Dev+University+College!5e0!3m2!1sen!2sin!4v1551618035369" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
            
        </div>
    </div>
    
</section>

                
            </div>
        </footer> <!-- .site-footer -->
        
    </div>
    <div class="social-links"data-bg-color="black" >                      
        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
        <p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
    </div>

    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    
</body>

</html>